*{
    box-sizing: border-box;
}
body{
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    font-family: Consolas;
    margin: auto;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.nav{
    background-color: rgb(32, 32, 32);
    height: 4vh;
    width: 100vw;
    display: flex;
    padding-top: 5px;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
}
.nav ul{
    margin: 0;
    margin-bottom: 0.5vh;
}
.nav a{
    margin-bottom: 40%;
    color: white;
}
.nav ul li{
    display: inline;
}
.nav a {
    font-weight: 800;
    font-size: 18px;
}
.article{
    width: 70%;
    margin-top: 2vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.article p{
    margin: auto;
    max-width: 60%;
}
.side{
    width: 30%;
    margin-top: 2vh;
}
.side img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 50%;
}
.NieuwKopje{
    margin-top: 50px;
    background-color: brown;
    width: 100%;
    height: 100vh;
}
.header{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgb(189, 60, 60);
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 1000px) {
    .article{
        width: 100%;
    }
    .side{
        width: 100%;
    }
}